@import "tailwindcss";

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gaya dasar untuk mencocokkan desain Anda */
/* body {
  @apply bg-indigo-950 text-gray-100;
} */